#blog .contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}



#blog article {
    margin: 30px;
    color: #E6B0AA;
    width: 50%;
    margin-bottom: 30px;
    position: relative;
  display: inline-block;

}


#blog article {
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
  }
  
 #blog article img {
    width: 100%;
    height: 75%;
  }
  
 #blog article button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #FDEDEC;
    color: #E6B0AA;
    text-align: center;
    text-decoration: none;
  }
  
  

/* Estilos para pantallas más pequeñas, como celulares */
@media (max-width: 768px) {
  #blog article {
    width: 100%;
  }
  
  #blog article img {
    height: auto;
  }
}

/* Estilos para pantallas más grandes, como computadoras */
@media (min-width: 769px) {
  #blog article {
    width: 30%;
    float: left;
    margin-right: 20px;
  }
}  
  


#blog button {
    display: block;
    width: 100px;
    color:#E6B0AA;
    cursor: pointer;
    text-decoration: none;
    padding: 7px;
    margin-top: 0px;
    border: 4px solid #E6B0AA;
    font-family: 'News Cycle', sans-serif;
}




#blog button:hover{
    background: rgb(240, 255, 255);
}


/* Estilos para pantallas más pequeñas, como celulares */
@media (max-width: 768px) {
  #blog button {
    width: 100%;
  }
}

/* Estilos para pantallas más grandes, como computadoras */
@media (min-width: 769px) {
  #blog button {
    width: 100px;
  }
}


#blog h2{
 color: #E6B0AA;
 text-align: center;

    
}

#blog img{
  
    width: 700px;
    max-width: 3000px;
    
}

#blog a {
    display: block;
    width: 100px;
    cursor: pointer;
    color:#E6B0AA;
    text-decoration: none;
    padding: 7px;
    margin-top: 0px;
    border: 4px solid #E6B0AA;
   
}

@media (min-width:480px) {
   

    #blog a {
        margin-top: 0px;
    }
}

.carrito-container {
    position: relative;
    display: inline-block;
  }
  
  .carrito-container .carrito-content {
    display: none;
    position: absolute;
    background-color: #FDEDEC;
    min-width: 200px;
    box-shadow:#E6B0AA;
    padding: 10px;
    z-index: 1;
  }

  .carrito-container:hover .carrito-content {
    display: block;
  }

  .carrito-container .carrito-content ul {
    padding-left: 0;
  }

  .carrito-container .carrito-content li {
    display: flex;
    color:#E6B0AA;
    font-family: 'News Cycle', sans-serif;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

.carrito-container p {
    font-family: 'News Cycle', sans-serif;
    color:#E6B0AA;

}

  .carrito-container .carrito-content .eliminar-producto {
    cursor: pointer;
    color: red;
    font-family: 'News Cycle', sans-serif;
  }
  .carrito-container button {
    display: block;
    width: 10%;
    border: 4px solid #E6B0AA;
    margin-top: 10px;
    padding: 10px;
    background-color: #FDEDEC;
    color: #E6B0AA;
    text-align: left;
    text-decoration: none;
}

.carrito-container button:hover{
    background: rgb(240, 255, 255);
}

.video-container {
    position: relative;
    width: 20%; /* Porcentaje de ancho en computadoras */
    padding-bottom: 30%; /* Porcentaje de altura en computadoras */
    margin: 0 auto; /* Centrar horizontalmente en computadoras */
  }
  
  /* Consulta de medios para dispositivos móviles */
  @media (max-width: 767px) {
    .video-container {
      width: 70%; /* Porcentaje de ancho en dispositivos móviles */
      padding-bottom: 40%; /* Porcentaje de altura en dispositivos móviles */
    }
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .imagen {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url("imagenes/catalogo.jpeg");
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .imagen:hover {
    background-image: url("imagenes/catalogo2.jfif");
  


  }
